@import "tailwindcss";

/* =========================
   Smooth Scrolling
========================= */

html {
  scroll-behavior: smooth;
}

/* =========================
   Body
========================= */

body {
  margin: 0;
  padding: 0;
  background: #020617;
  color: white;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}

/* Root Height */

html,
body,
#root {
  min-height: 100%;
}

/* =========================
   Global
========================= */

* {
  box-sizing: border-box;
}

/* =========================
   Text Selection
========================= */

::selection {
  background: #22d3ee;
  color: #020617;
}

/* =========================
   Scrollbar
========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

/* =========================
   Images
========================= */

img {
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* =========================
   Links
========================= */

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

/* =========================
   Buttons
========================= */

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* =========================
   Inputs
========================= */

input,
textarea,
button {
  outline: none;
}